# Environment / secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

#playground
playground_db.ipynb
playground_rag.ipynb
data/chroma_playground

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log